/TemuFansDBManagerTest/build/
/TemuFansPersonaModel/dist/
/TemuFansPersonaModel/build/
/TemuFansInventarioModel/dist/
/TemuFansInventarioModel/build/
/TemuFansEmpresaModel/dist/
/TemuFansEmpresaModel/build/
/TemuFansEmpresaDA/build/
/TemuFansEmpresaDA/dist/
/TemuFansPersonaDA/build/
/TemuFansPersonaTest/build/
/TemuFansTransaccionModel/build/
/TemuFansTransaccionModel/dist/
/TemuFansPedidoModel/build/
/TemuFansEntregaDA/build/
/TemuFansEntregaModel/dist/
/TemuFansEntregaModel/build/
